/* Specific CSS for your home-page */
.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

.title {
  margin-top: 40px;
  margin-left: 30px;
  color: white;
}

.logo-home {
  height: 100px;
  width: auto;
}

.search-bar-container-home {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  background-color: transparent;
}

.search-bar-home {
  width: 100vh; /* Adjust the width of the search bar as needed */
  padding: 10px 20px;
  margin: 0;
  font-size: 1rem;
  border: 1px solid #ccc; /* Add a border to the search bar */
  border-radius: 5px; /* Add border-radius for rounded corners */
  background-color: transparent;
}

.filter-button-home {
  margin-left: 10px; /* Add some spacing between the search bar and filter button */
}


#filter-button-home {
  padding: 10px 20px;
  background-color: #007BFF; /* Change the background color of the button */
  color: #fff; /* Change the text color of the button */
  border: none;
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
}

#filter-button-home:hover {
  background-color: #0056b3; /* Change the background color on hover */
}


.cards-container-home {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, calc(33.33% - 20px));
  gap: 20px;
  padding: 20px;
  padding-left: 40px;
  justify-items: center;
}

.card-home {
  text-align: center;
  width: calc(100% - 20px);
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #D5CEA3;
}

.card-image-home {
  width: 100%; /* Définir la largeur à 100% pour remplir le conteneur de la carte */
  height: auto;
  display: flex; /* Ajouter flexbox pour centrer le contenu verticalement et horizontalement */
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer le contenu verticalement */
  overflow: hidden; /* Cacher tout débordement d'image */
}

.card-image-home img {
  width: 100%; /* Faire en sorte que l'image occupe toute la largeur du conteneur */
  height: auto; /* Ajuster la hauteur en conséquence pour conserver les proportions */
  max-height: 100%; /* S'assurer que la hauteur de l'image ne dépasse pas la hauteur du conteneur */
}


.card-description-home {
  padding: 15px;
  text-align: center;
  background: #D5CEA3;
  border-radius: 0 0 20px 20px;
}

body {
  background-image: asset-url('forest.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Add this line */
}

.info {
  position: relative;
}
