<header class="header-home"> <!-- Modification de la classe header -->
  <div class="search-bar-container-home"> <!-- Modification de la classe search-bar-container -->
    <div class="row justify-content-center">
      <div class="col my-3">
        <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control flex-grow-1 me-2 search-bar-home",
                placeholder: "Trouve l'aventurier de tes rêves"
            %>
          <%= submit_tag "Chercher", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="filter-button-home">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="S">
        <label class="form-check-label" for="inlineCheckbox1">S</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="A">
        <label class="form-check-label" for="inlineCheckbox1">A</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="B">
        <label class="form-check-label" for="inlineCheckbox2">B</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="C">
        <label class="form-check-label" for="inlineCheckbox1">C</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="F">
        <label class="form-check-label" for="inlineCheckbox2">F</label>
      </div>
    </div>
      <%# <div class="filter-button-home"> <!-- Modification de la classe filter-button -->
      <button id="filter-button-home">Filter</button> <!-- Modification de l'ID filter-button --> %>
    </div>
  </div>
</header>
