  <header class="header">
    <%= image_tag("logo_merc.png", alt: "Logo_merc", class: "logo") %>
    <div class="search-bar-container">
      <input type="text" class="search-bar" placeholder="Recherche/filtres" />
    </div>
  </header>
