<header class="header-home"> <!-- Modification de la classe header -->
  <div class="search-bar-container-home"> <!-- Modification de la classe search-bar-container -->
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Trouve l'aventurier de tes rêves"
            %>
          <%= submit_tag "Chercher", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
      <%# <div class="filter-button-home"> <!-- Modification de la classe filter-button -->
      <button id="filter-button-home">Filter</button> <!-- Modification de l'ID filter-button --> %>
    </div>
  </div>
</header>
