<header>
  <div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-row mb-3 m-3">
        <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
        <div  class="d-inline-flex p-2">
          <%= f.input :search_query, label: false, placeholder: "Rechercher un gros dur", required: false %>
        </div>
        <div  class="d-inline-flex p-2">
          <%= f.input :rank, collection: Offer::RANKS, required: false, label: false, placeholder: "Rank" %>
        </div>
        <div  class="d-inline-flex p-2">
          <%= f.button :submit, "Rechercher", class: "custom-button-create" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<%# label: ('<i class="fa-solid fa-magnifying-glass"></i>').html_safe, %>
