<header class="header-home"> <!-- Modification de la classe header -->
  <%= image_tag("logo_merc.png", alt: "Logo_merc", class: "logo-home") %> <!-- Modification de la classe logo -->
    <div class="search-bar-container-home"> <!-- Modification de la classe search-bar-container -->
      <input type="text" class="search-bar-home" placeholder="Recherche" /> <!-- Modification de la classe search-bar -->
      <div class="filter-button-home"> <!-- Modification de la classe filter-button -->
        <button id="filter-button-home">Filter</button> <!-- Modification de l'ID filter-button -->
      </div>
    </div>
</header>
