<div class="container-order">
  <div class="reservation-details">
    <h1>You ordered</h1>
    <h2><%= @reservation.offer.title %></h2>
    </div>
    <p>Price: <%= number_to_currency(@reservation.offer.price) %></p>
    <p>Address: <%= @reservation.offer.address %></p>
    <p>Duration:</p>
    <p><%= format_date_for_human({1=>2023, 2=>11, 3=>30}) %></p>
  </div>
