<div class="container mt-4  ">
<ul class="nav nav-tabs ">
  <li class="nav-item ">
   <%= link_to "Profile", profil_path(@profil), class: "nav-link text-white font-weight-bold" %>
  </li>
  <li class="nav-item">
<%= link_to "My Offers", my_offers_profil_path(@profil), class: "nav-link text-white font-weight-bold" %>
  </li>
  <li class="nav-item">
      <%= link_to "My bookings", my_bookings_profil_path(@profil), class: "nav-link text-white font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to "Bookings received", bookings_received_profil_path(@profil), class: "nav-link text-white font-weight-bold" %>
  </li>
</ul>
</div>
