<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="offer-form text-white">
        <h1>Éditer</h1>
        <div class="mt-3 text-white">
          <%= render "form", offer: @offer %>
        </div>
      </div>
    </div>
  </div>
</div>
